@{
    ViewBag.Title = "FaceRecAdminIndex";
}
<style>
    .example:before {
        content: "Admin Controls";
    }
</style>
<div class="page">
    <div class="page-region">
        <div class="page-region-content">


            <div class="example" content="Admin Controls">

            </div>
        </div>
    </div>
</div>

