@{
    ViewBag.Title = "Footer";
}


<div class="bg-dark">
    <div class="container">
        <div class="grid no-margin">
            <div class="row no-margin">
                <div class="span8 padding20 nlp">
                    <img src="@Url.Content("~/Content/Images/Logo.png")" alt="" class="place-left" style="margin-top: 10px; width:400px;" />
                </div>
                <div class="span3 padding20 nrp">
                    <ul class="unstyled">
                        <li>
                            <div>
                                <a href="https://www.facebook.com/pages/Thahavuru-Face-Recognition/226818334123859">
                                    <img src="@Url.Content("~/Content/Images/facebook.png")" style="margin-top: 10px; width:40px;" />
                                </a>
                                <a href="https://twitter.com/Thahavuru_FR"><img src="@Url.Content("~/Content/Images/twitter.png")" style="margin-top: 10px; width:40px;" />
                                </a>
                                <a href="https://twitter.com/Thahavuru_FR"><img src="@Url.Content("~/Content/Images/googleP.png")" style="margin-top: 10px; width:40px;" />
                                </a>
                            </div>
                        </li>
                        
                       @* <li><a class="button info span3 margin5" href="https://github.com/olton/Metro-UI-CSS">Github</a>
                        </li>
                        <li><a class="button warning span3 margin5" href="http://lesscss.org">{ Less }</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark no-margin" style="text-align:center;">
    <div class="container tertiary-text bg-dark fg-white">
        2013, Thahavuru Automated Face Recognition System &copy; by <a href="http://thahavuru.net46.net/" class="info">THAHAVURU</a>
    </div>
</footer>
