@model IEnumerable<Thahavuru_WEB.Models.ImageModel>


<div class="image-collection p4x3">

@using Thahavuru_WEB.Models
   

        @if (Model != null)
        {
            foreach (var item in Model)
            { 
                <div><img src="@Url.Content(item.MatchedImageURI)"/ style="max-height:170px; max-width:170px;"></div>
            }
        }
    @*<div><img/></div>
    <div><img/></div>
    <div><img/></div>
    <div><img/></div>
    <div><img/></div>
    <div><img/></div>*@
</div>