@{
    ViewBag.Title = "ResultImages";
}

<div class="example">
    
    @using Thahavuru_WEB.Models
   
        @if (Model != null)
        {
            foreach (var item in Model)
            { 
                <img src="@Url.Content(item.MatchedImageURI)"/ style="max-width:152px;">
            }
        }
    @*<div><img/></div>
    <div><img/></div>
    <div><img/></div>
    <div><img/></div>
    <div><img/></div>
    <div><img/></div>*@
</div>
